@font-face {
  font-family: 'Domitian';
  font-style: normal;
  font-weight: 400;
  src: url('https://statr.me/fonts/Domitian-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Domitian';
  font-style: normal;
  font-weight: 700;
  src: url('https://statr.me/fonts/Domitian-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
       url('https://statr.me/fonts/SourceCodePro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Bold'),
       url('https://statr.me/fonts/SourceCodePro-Bold.woff2') format('woff2');
}

body {
  font-family: 'Domitian', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Songti SC', serif;
}

h1, h2, h3 {
  font-family: 'Domitian', 'Yanone Kaffeesatz', 'Palatino Linotype', 'Book Antiqua', Palatino, 'STHeiti', 'SimHei', 'Microsoft YaHei';
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
}

.remark-slide-content h1 {
  font-size: 32pt;
}

.remark-slide-content h2 {
  font-size: 30pt;
}

.remark-slide-content {
  font-size: 20pt;
}

.remark-inline-code {
  font-size: 16pt;
}

.remark-code-line {
  font-size: 12pt;
  line-height: 90%;
}

.highlight {
  color: deeppink;
}

.medium {
  font-size: 16pt;
}

.small {
  font-size: 11pt;
}
