<!--EXTERNAL SCRIPTS-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{ if .IsPage }}
<script src="//uploads.cosx.org/static/hljs/highlight.pack.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js" integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/contrib/auto-render.min.js" integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc" crossorigin="anonymous"></script>
{{ end }}
<!--EXTERNAL SCRIPTS END-->
<!--SCRIPTS-->
<script src="/js/script-qi9wbxp2ya2j6p7wx1i6tgavftewndznf4v0hy2gvivk1rxgc3lm7njqb6bz.min.js"></script>
<!--SCRIPTS END-->

{{ if .IsPage }}
<script>
$(document).ready(function() {
  hljs.configure({ classPrefix: '', useBR: false });
  $('pre.code-highlight').each(function(i, block) {
    var code = "";
    hljs.highlightAuto(block.innerText).value.split(/\r\n|\r|\n/).forEach(function(line) {
      code += "<span class=\"line\">" + line + "</span><br>";
    });
    if (code.length > 0) {
      block.innerHTML = code;
    }
  });
  $('pre > code').each(function(i, block) {
    $(this).addClass('codeblock');
    hljs.highlightBlock(block);
  });

  renderMathInElement(document.body, {
      // do not render inside those tags
      "ignoredTags":["script", "noscript", "style", "textarea", "pre", "code"],
      // those are the delimiters we are going to use to write latex formulas
      "delimiters":[
        {left: "$$", right: "$$", display: true},
        {left: "\\[", right: "\\]", display: true},
        {left: "$", right: "$", display: false}
      ]
  });
});
</script>
{{ end }}

{{ if .IsPage }}
  {{ if not (eq .Params.comments false) }}
    {{ if .Site.DisqusShortname }}
      <script>
        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';
          {{ if .Params.disqusIdentifier }}
            this.page.identifier = '{{ .Params.disqusIdentifier }}';
          {{ else }}
            this.page.identifier = '{{ .RelPermalink }}'
          {{ end }}
        };
        (function() {
          // Don't ever inject Disqus on localhost--it creates unwanted
          // discussions from 'localhost:1313' on your Disqus account...
          if (window.location.hostname == "localhost") {
            return;
          }
          var d = document, s = d.createElement('script');
          var disqus_shortname = '{{ .Site.DisqusShortname }}';
          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
    {{ end }}
  {{ end }}
{{ end }}

{{ with .Site.Params.algolia }}
  {{ if (isset . "appId") | and (isset . "apiKey") | and (isset . "indexName") }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script>
      var algoliaClient = algoliasearch('{{ .appId }}', '{{ .apiKey }}');
      var algoliaIndex = algoliaClient.initIndex('{{ .indexName }}');
    </script>
  {{ end }}
{{ end }}

{{ range .Site.Params.customJS }}
   <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
