{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article id="index-page" class="post" itemscope itemType="http://schema.org/BlogPosting">
            <div class="post-header main-content-wrap {{ if $.Params.metaalignment }}text-{{ $.Params.metaalignment }}{{ else }}text-left{{ end }}">
              <h1 class="post-title" itemprop="headline">
                {{ .Site.Title }}
              </h1>
            </div>
          <div class="post-content markdown" itemprop="articleBody">
            <div class="main-content-wrap">
              {{ (replaceRE "<!--\\s*[t|T][o|O][c|C]\\s*-->" (printf "<h1 id=\"table-of-contents\">%s</h1>%s" (i18n "post.toc") .TableOfContents) .Content) | safeHTML }}
            </div>
          </div>
        </article>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
